<div class="row">
    <div class="col">
      <h2 class="display-4">Kölcsönzések:</h2>  
      <table class="table">  
        <thead>  
          <tr>  
            <th scope="col">#</th>  
            <th scope="col">Ügyfél neve</th>
            <th scope="col">Márka</th>  
            <th scope="col">Típus</th>  
            <th scope="col">Kölcsönzés helye</th> 
            <th scope="col">Kölcsönzés időpontja</th> 
            <th scope="col">Megjegyzés</th> 
          </tr>  
        </thead>  
        <tbody> 
            <tr *ngFor="let rent of rents">
                <td> {{rent.id}} </td>
                <td> {{rent.customerName}} </td>
                <td> {{rent.carMake}} </td>
                <td> {{rent.carModel}} </td>
                <td> {{rent.storeName}} </td>
                <td> {{rent.rentDate}} </td>
                <td> {{rent.note}} </td>
              </tr>  
        </tbody>  
      </table>    
</div>


<div class="container">
  <hr>
  <app-rent-filter (filterRentsEvent)="filterRents($event)"></app-rent-filter>
</div>