form {
    margin-top: 20px;
    margin-bottom: 10px;
}

.form-row {
    margin-top: 10px;
    margin-bottom: 10px;    
}

.form-group {
    margin-top: 10px;
    margin-bottom: 10px;    
}

h2 {
    margin-top: 20px;
}
