
<h2 class="display-4">Új ügyfél hozzáadása:</h2>  
<form [formGroup]="customerForm" #cutomerForm="ngForm" ngNativeValidate>
  <div class="form-group"> 
    <label for="name">Név:</label>
    <input 
      class="form-control"
      formControlName="name"
      aria-describedby="nameHelp"
      required>
    <small id="nameHelp" class="form-text text-muted">Az ügyfél neve.</small>
  </div>

  <div class="form-row">
    <div class="col">
      <label for="birth">Születési dátum:</label>
      <input 
        class="form-control"
        formControlName="birth"
        aria-describedby="birthHelp"
        required>
      <small id="birthHelp" class="form-text text-muted">Formátum: YYYY. MM. DD.</small>
    </div>
    <div class="col">
      <label for="address">Cím:</label>
      <input 
        class="form-control"
        formControlName="address"
        required>
      <small id="addressHelp" class="form-text text-muted">Formátum: Irányítószám, Település...</small>
    </div>
  </div>

  <div class="form-row">
    <div class="col">
      <label for="idNumber">Személyi igazolvány szám:</label>
      <input 
        class="form-control"
        formControlName="idNumber"
        required>
      <small id="idNumberHelp" class="form-text text-muted">A személyi igazolványon található 8 karakterből álló azonosító. Pl.: 111111AA</small>
    </div>
    <div class="col">
      <label class="center-block">Nem: </label>
        <select class="form-control" formControlName="gender" required>
            <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
        </select>
    </div>
  </div>
  
  <div>
    <button (click)="submit()" class="btn btn-primary" [disabled]="!cutomerForm.valid">Ügyfél hozzáadása!</button>
  </div>
</form>
